<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>admin</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<p><%= texte %></p>
<div class="row">
    <div class="col-md-5">
        <ul class="list-group">
            <% evenement.forEach(function (event) { %>
            <li class="list-group-item">
                <%= event.data().name %>
                <p class="font-weight-lighter"><%= event.data().adresse %></p>
                <button id="deleteButton" type="button" class="btn btn-danger">Danger</button>
            </li>
            <% }) %>
        </ul>
    </div>

</div>
<script src="../../node_modules/jquery/dist/jquery.min.js"></script>
<script src="../assets/script.js"></script>
</body>
</html>