<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Scrapper lancé !</title>
</head>
<body>
<div class="container">
    <h2 class="text-center">Scrapper correctement lancé !</h2>
    <p class="text-center">
        Sur la période : <b><%= launchValues.start %></b> - <b><%= launchValues.end %></b>
    </p>
    <p class="text-center">
        <b><%= eventsRecovered %></b> événements récupérés !
    </p>
</div>
</body>
</html>
